networks:
  backend:
    driver: bridge

services:
  api-gateway:
    build:
      context: ./api-gateway
      target: production
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file: ./api-gateway/.env
    depends_on:
      redis:
        condition: service_healthy
    environment:
      - REDIS_URL=${REDIS_URL}
    networks:
      - backend
  identity-service:
    build:
      context: ./identity-service
      target: production
    restart: unless-stopped
    ports:
      - "3001:3001"
    env_file: ./identity-service/.env
    depends_on:
      mongodb:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - REDIS_URL=${REDIS_URL}
      - MONGODB_URL=${MONGODB_URL}
    networks:
      - backend
  post-service:
    build:
      context: ./post-service
      target: production
    restart: unless-stopped
    ports:
      - "3002:3002"
    env_file: ./post-service/.env
    depends_on:
      mongodb:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    environment:
      - REDIS_URL=${REDIS_URL}
      - RABBITMQ_URL=${RABBITMQ_URL}
      - MONGODB_URL=${MONGODB_URL}
    networks:
      - backend
  media-service:
    build:
      context: ./media-service
      target: production
    restart: unless-stopped
    ports:
      - "3003:3003"
    env_file: ./media-service/.env
    depends_on:
      mongodb:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    environment:
      - REDIS_URL=${REDIS_URL}
      - RABBITMQ_URL=${RABBITMQ_URL}
      - MONGODB_URL=${MONGODB_URL}
    networks:
      - backend
  search-service:
    build:
      context: ./search-service
      target: production
    restart: unless-stopped
    ports:
      - "3004:3004"
    env_file: ./search-service/.env
    depends_on:
      mongodb:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    environment:
      - REDIS_URL=${REDIS_URL}
      - RABBITMQ_URL=${RABBITMQ_URL}
      - MONGODB_URL=${MONGODB_URL}
    networks:
      - backend
  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
    networks:
      - backend
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand({ ping: 1 })"]
      interval: 10s
      timeout: 5s
      retries: 5
  redis:
    image: redis:7.2
    ports:
      - "6379:6379"
    networks:
      - backend
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
  rabbitmq:
    image: rabbitmq:3.12-management
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - backend
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
